* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bungee", "cursive";
}
body {
    background-color: #0c1d19;
    background-image: url(../public/img/faqBG.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    overflow-x: hidden;
}
.nav-link {
    color: #fff !important;
    font-size: 16px;
    transition: 0.2s ease-out;
    font-weight: 600;
}
.navbar-brand {
    width: 100px;
}

.nav-link:hover {
    color: #fff !important;
    text-shadow: 0 0 7px #fcc83a, 0 0 10px #fcc83a, 0 0 21px #fcc83a,
        0 0 42px #fcc83a, 0 0 82px #fcc83a, 0 0 92px #fcc83a;
}
.fa-discord {
    width: 24px;
    height: 24px;
    padding-right: 4px;
}
